@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src:
   url("../fonts/raleway/raleway-800.woff2") format("woff2"),
   url("../fonts/raleway/raleway-800.woff2") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src:
   url("../fonts/rubik/rubik-400.woff2") format("woff2"),
   url("../fonts/rubik/rubik-400.woff2") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src:
   url("../fonts/rubik/rubik-700.woff2") format("woff2"),
   url("../fonts/rubik/rubik-700.woff2") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src:
   url("../fonts/rubik/rubik-800.woff2") format("woff2"),
   url("../fonts/rubik/rubik-800.woff2") format("woff");
  font-display: swap;
}
html {
  height: 100%;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  min-width: 1160px;
}
a{
  text-decoration: none;
  color: #000000;
  line-height: 21px;
  outline: none;
}
.page-header{
  background: #FFE17F;
  color: #000000;
  width: 1160px;
  margin: 40px auto 0;
}
.header-index{
  padding-bottom: 167px;
}
.header-inner{
  padding-bottom: 53px;
}
.header-container{
  margin: 0 auto;
  width: 1040px;
}
.main-container {
  flex-grow: 1;
}
.main-index{
  margin-top: -150px;
}
.page-container{
  width: 1160px;
  margin: 0 auto;
}
.header-logo{
  display: block;
  width: 145px;
  margin-top: -23px;
  margin-bottom: 36px;
}
.navigation{
  display: flex;
  width: 1040px;
  margin: 0 auto;
  flex-direction: column;
}
.navigation-list{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.small{
  margin-bottom: 44px;
}
.small .navigation-link{
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-align: left;
}
.small .navigation-link:hover{
  opacity: 0.6;
}
.small .navigation-link:focus{
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}
.small .navigation-link:active{
  opacity: 0.3;
}
.small .navigation-item:nth-child(1){
  flex-grow: 1;
  width: 515px;
}
.navigation-search{
  font-size: 16px;
  margin-left: 36px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #000000;
  opacity: 0.3;
}
.button-search{
  display: none;
}
.navigation-form{
  width: 480px;
  background-image: url('../img/icons/search.svg');
  background-repeat: no-repeat;
  background-position: left;
}
.small .navigation-item:nth-child(2){
  width: 245px;
  margin-left: 25px;
}
.login{
  padding-left: 25px;
}
.small .navigation-item:nth-child(3){
  width: 120px;
  margin-left: 15px;
}
.compare{
  padding-left: 20px;
}
.small .navigation-item:nth-child(4){
  width: 141px;
  margin-left: 15px;
  text-align: right;
}
.number-cart{
  display: block;
  align-items: center;
  text-align: center;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 11px;
}
.number{
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.cart{
  padding-left: 41px;
}
.large .navigation-link{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.2em;
}
.large .navigation-link:hover{
  border-bottom: 2px solid #000000;
}
.large .navigation-link:focus{
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
}
.large .navigation-item:nth-child(1){
  flex-grow: 1;
}
.large .navigation-item:nth-child(2){
  width: 140px;
}
.large .navigation-item:nth-child(3){
  width: 140px;
  margin-left: 19px;
}
.large .navigation-item:nth-child(4){
  width: 140px;
  text-align: right;
  margin-left: 62px;
}
.slider{
  margin-bottom: 70px;
}

.slider-pagination{
  margin:0;
  padding: 0;
}
.slider-pagination-item{
  display: none;
  grid-template-columns: 560px 560px;
  grid-column-gap: 40px;
}
.slider-item-current{
  display: grid;
}
.slider-slogan{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 122px;
  margin-bottom: 20px;
}
.slider-text{
  margin-bottom: 30px;
}
.slider-link-button{
  display: flex;
  border: none;
  cursor: pointer;
}
.slider-list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
}
.slider-list-item{
  margin-right: 22px;
}
.slider-pagination-button{
  display: inline-block;
  display: block;
  width: 12px;
  height: 12px;
  border: none;
  cursor: pointer;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0;
  background-color: #FFFFFF;
}
.slider-pagination-button-current{
  background-color: #000000;
}
.slider-pagination-button:hover{
  opacity: 0.6;
}
.slider-pagination-button:focus{
  border: 2px solid #AF4FFF;
}
.slider-pagination-button:active{
  opacity: 0.3;
}
.slider-list-item:last-child{
  margin-right: 0;
}
.slider-specifications{
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 160px);
}
.slider-definition{
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  height: 52px;
  grid-row: 1;
}
.slider-term{
  font-size: 16px;
  grid-row: 2;
}
.slider-link{
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFE17F;
  color: #000000;
  letter-spacing: 0.2em;
  width: 220px;
  height: 20px;
  margin-right: 200px;
}
.products{
  margin-bottom: 170px;
}
.products-list{
  display:flex;
  justify-content: space-between;
  margin:0;
  padding: 0;
  text-align: center;
}
.products-item{
  width: 160px;
  list-style-type: none;
  padding-top: 193px;
}
.products-link{
  position: relative;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  display: block;
  letter-spacing: -0.02em;
}
.products-link::before{
  content:'';
  position: absolute;
  top: -193px;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}
.products-icon{
  position: absolute;
  top: -231px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #363636;
}
.button{
  display: inline-block;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  background-color:#FFC700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
}
.services{
  margin-bottom: 90px;
  background-image: linear-gradient(to bottom, white 0%, white 15%, #F0F0F0 0%);
}
.services-dictionary{
  display: grid;
  grid-template-columns: 280px 560px;
  grid-template-rows: repeat(3, 40px) min-content;
  grid-row-gap: 25px;
  margin: 0;
  padding: 0;
}
.services-term{
  height: 20px;
  grid-column: 1;
  display: block;
  align-items: center;
}
.services-definition{
  grid-column: 2;
  grid-row: 1 / -1;
  border-left: 7px solid #000000;
  padding-left: 115px;
  margin-left: 0;
}
.services-term-current{
  font-family: "Raleway", sans-serif;
  color:#FFE17F;
  line-height: 21px;
  background-color:#000000;
  height: 40px;
}
.services-definition{
  display: none;
}
.services-definition-current{
  display: block;
}
.services-title{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}
.services-text{
  margin: 0;
}
.delivery{
  background-image: url(../img/services/courier.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.guarantee{
  background-image: url(../img/services/guarantee.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.credit{
  background-image: url(../img/services/credit.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.services .page-container{
  margin-top: -90px;
}
.rare-commodity{
  display: flex;
  align-items: center;
  position: relative;
  background-color: #F0F0F0;
  margin-bottom: 97px;
  height: 100px;
}
.rare-commodity-text{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  width: 910px;
  padding-top: 37px;
  padding-bottom: 43px;
  margin-right: 52px;
}
.rare-delivery{
  background-color: #FFE17F;
  padding: 35px 39px 34px;
}
.info{
  fill: rgba(0, 0, 0, 0.3);
  background-color: rgba(220, 220, 220, 0.5);
  padding: 14px 19px;
  border-radius: 20px;
}
.rare-commodity:hover .rare-delivery{
  background-color: #FFC700;
}
.rare-commodity:hover .info{
  fill: #000000;
}
.rare-commodity:focus{
  border: 5px solid #AF4FFF;
}
h2{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.index-columns{
  display: flex;
  justify-content: space-between;
}
.about{
  width: 560px;
}
.about-title{
  position: relative;
  margin: 0;
  margin-top: 42px;
  padding-bottom: 20px;
}
.about-title::after{
  position: absolute;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
  content: "";
  top: -42px;
}
.about-description{
  margin: 26px 0 0;
  width: 500px;
}
.about-text{
  margin: 0 0 30px;
}
.about-item{
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}
.about-list{
  margin-bottom: 72px;
  list-style-type: none;
}
.about-item::before{
  position: absolute;
  content: " ";
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  border-radius: 4px;
  left: -30px;
  top: 4px;
}
.about-link{
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #FFE17F;
  color: #000000;
}
.contacts{
  width: 560px;
}
.contacts-title{
  position: relative;
  margin: 0;
  margin-top: 42px;
  padding-bottom: 20px;
}
.contacts-title::after{
  position: absolute;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
  content: "";
  top: -42px;
}
.contacts-text{
  margin: 26px 0 30px;
}
.contacts-subtitle{
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 15px;
}
.address-text{
  font-style: normal;
}
.contacts-address{
  margin-bottom: 30px;
}
.contacts-phone{
  text-decoration-line: underline;
}
.contacts-link{
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #FFE17F;
  color: #000000;
}
.contacts-schedule{
  margin: 0 0 67px;
  padding: 0;
  list-style-type: none;
}
.index-columns{
  margin-bottom: 87px;
}
.mailing{
  background-color: #F0F0F0;
  padding-bottom: 130px;
}
.mailing-content{
  display: grid;
  grid-template-columns: 560px 560px;
  grid-column-gap: 40px;
}
.mailing-form{
  display: flex;
  grid-column: 1 / -1;
  align-items: center;
}
.mailing-title{
  margin-top: 75px;
  margin-bottom: 40px;
}
.mailing-subscribe{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0;
  width: 260px;
  height: 55px;
  margin-right: 135px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.mailing-subscribe:focus{
  border: 3px solid #AF4FFF;
}
.mailing-subscribe:hover{
  color: #FFFFFF;
  background-color: #000000;
  border: none;
}
.mailing-subscribe:active{
 color: rgba(255, 255, 255, 0.3);
}
.mailing-text{
  margin-top: 85px;
  margin-bottom: 50px;
}
.mailing-mail{
  width: 600px;
  height: 30px;
  margin-top: auto;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}
 .mailing-mail:hover{
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
.mailing-mail:focus{
  background-color: #DCDCDC;

}
.mailing-mail:active{
  background-color: transparent;
  border-bottom: 3px solid rgba(0, 0, 0, 1);
}
.free{
  width: 165px;
  margin: 0;
  text-align: right;
  background-image: url(../img/icons/tick-big.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.page-footer{
  background-color: #444444;
  color:#FFFFFF;
}
.footer-container{
  width: 1160px;
  margin: 0 auto;
}
.logo-footer{
  display: block;
  margin: 60px 0 35px;
}
.page-footer-container{
  display: flex;
  width: 1160px;
  margin: 0 auto;
}
.footer-address{
  width:240px;
  margin-right: 114px;
}
.footer-address-text{
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.footer-navigation{
  width: 458px;
  justify-content: center;
}
.footer-contacts{
  width: 293px;
  margin-left: auto;
}
.footer-info-list{
  list-style-type: none;
  display: flex;
  margin: 0 0 63px;
  padding: 0;
}
.footer-info-item{
  margin-right: 7px;
  width: 148px;
  text-align: center;
}
.footer-info-item:last-child{
  margin-right: 0px;
}
.footer-info-link{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  padding:14px 20px 15px;
}
.footer-info-link:focus{
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
}
.footer-info-link:hover{
  color: #FFC700;
  padding: 0;
  padding-bottom: 8px;
  border-bottom: 2px solid #FFC700;
}
.footer-info-link:active{
  opacity: 0.3;
  border: none;
  border-bottom: 2px solid rgba(255, 199, 0, 0.3);
  border-radius: 0;
}
.footer-social-list{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item{
  text-align: center;
  margin-right: 15px;
  margin-bottom: 15px;
}
.social-button{
  display: block;
  height: 40px;
  width: 40px;
  position: relative;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
.social-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #444444;
}
.social-button:hover{
  background-color: #FFC700;
}
.social-button:focus{
  background-color: transparent;
  border: 5px solid #AF4FFF;
  box-sizing: border-box;
}
.social-button:focus .social-icon{
  fill: #FFFFFF;
}
.social-button:active{
  background-color: #FFC700;
  border: none;
}
.social-button:active .social-icon{
  fill: rgba(44, 44, 44, 0.3);
}
.footer-social-item:last-child{
  margin-right: 0px;
}
.footer-phone{
  color: #FFFFFF;
  font-size: 16px;
  padding: 3px 15px 5px;
  margin-left: auto;
}
.footer-phone:focus{
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
}
.footer-phone:hover{
  color: #FFC700;
}
.footer-phone:active{
  opacity: 0.3;
  border: none;
}
.htmlacademy{
  display: block;
  margin-left: auto;
  width: 115px;
  height: 34px;
  margin-top: 53px;
}
.htmla{
  fill: #FFC700;
  top: 53px;
}
.main-inner{
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-top: 37px;
}
.inner-header{
  margin-left: 60px;
}
.catalog{
  display: flex;
  margin-top: 50px;
  min-width: 1160px;
}
.catalog-title{
  margin-top: 0;
  margin-bottom: 14px;
}
.catalog-filters{
  width: calc(50% - 252px);
}
.catalog-filter{
  width: 200px;
  margin-left: auto;
  margin-right: 69px;
}
.filter{
  width: 100%;
  background-color: #DCDCDC;
  height: 70px;
  display: flex;
  align-items: center;
}
.breadcrumbs{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  opacity: 0.6;
}
.breadcrumbs-link{
  margin-right: 36px;
}
.filters-text{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 236px;
  margin-left: auto;
  margin-right: 32px;
}
.filters{
  background-color: #E5E5E5;
  height: 100%;
}
.catalog-products{
  width: calc(50% + 252px);
}
.catalog-filter-title{
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.sorting-type{
  background-color: #EBEBEB;
  display: flex;
  height: 70px;
  align-items: center;
  padding-right: calc((100vw - 1160px) / 2);
}
.sorting-text{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 72px;
  width: 200px;
}
.select-control{
  height: 20px;
  justify-content: center;
  margin-right: 330px;
}
.sorting-arrow-up{
  margin-right: 20px;
}
.sorting-arrow-current{
  fill: rgba(0, 0, 0, 0.3);
}
.catalog-list{
  margin-left: 72px;
}
.product-list{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 360px 360px;
  grid-column-gap: 40px;
  grid-row-gap: 44px;
  list-style-type: none;
  margin-top: 70px;
  margin-bottom: 44px;
}
.product-card{
  min-width: 360px;
}
.product-card-title{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  width: 280px;
}
.product-card-image{
  background-color: #EBEBEB;
  margin-bottom: 32px;
}
.product-card-info{
  display: flex;
}
.product-card-price{
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
  margin-left: auto;
}
.show-more{
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 760px;
  margin-bottom: 51px;
  text-align: center;
}
.show-more-text{
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #FFFFFF;
  letter-spacing: 0.2em;
}
.pagination{
  background-color: #EBEBEB;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 760px;
  margin-bottom: 77px;
  height: 70px;
  align-items: center;
}
.pagination-item:last-child{
  margin-left: auto;
  margin-right: 30px;
}
.pagination-item:first-child{
  margin-right: auto;
  margin-left: 30px;
}
.pagination-item{
  margin-right: 30px;
}
.pagination-link{
  text-align: center;
  color: #444444;
}
.pagination-link .pagination-text{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*{
  outline: 1px solid red;
}
