@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src:
   url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src:
   url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src:
   url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src:
   url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  min-width: 1160px;
}
.page-header a{
  text-decoration: none;
  color: #000000;
  line-height: 21px;
}
.main-inner a{
  text-decoration: none;
  color: #000000;
  line-height: 21px;
}
.main-index a{
  text-decoration: none;
  color: #000000;
}
.page-footer a{
  text-decoration: none;
  color: #000000;
  line-height: 21px;
}
.page-header{
  background: #FFE17F;
  color: #000000;
  width: 1160px;
  margin: 40px auto 0;
}
.header-index{
  padding-bottom: 161px;
}
.header-inner{
  padding-bottom: 48px;
}
.header-container{
  margin: 0 auto;
  width: 1040px;
}
.main-container {
  flex-grow: 1;
}
.main-index{
  margin-top: -150px;
}
.page-container{
  width: 1160px;
  margin: 0 auto;
}
.header-logo{
  display: block;
  width: 145px;
  margin-top: -23px;
  margin-bottom: 20px;
}
.navigation{
  display: flex;
  width: 1040px;
  margin: 0 auto;
  flex-direction: column;
}
.navigation-list{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
.small{
  margin-bottom: 31px;
  height: 40px;
}
.small .navigation-link{
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-align: center;
  position: relative;
  display: block;
}
.navigation-icon{
  position: relative;
}
.small .navigation-link:hover{
  opacity: 0.6;
}
.small .navigation-link:focus{
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  padding: 10px 0;
}

.small .navigation-link:active{
  border: none;
  opacity: 0.3;
}
.navigation-search{
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #000000;
  opacity: 0.3;
  width: 516px;
  padding: 10px 0;
  padding-left: 36px;
}
.button-search{
  display: none;
}
.button-search{
  position: absolute;
  right: 0;
  top: 1px;
  height: 40px;
  width: 160px;
  background-color: transparent;
  border: 2px solid #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.navigation-form{
  width: 516px;
  background-image: url('../img/icons/search.svg');
  background-repeat: no-repeat;
  background-position: left;
  margin: 0;
  position: relative;
}
.navigation-search:focus{
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 20px;
}
.navigation-search:hover{
  opacity: 0.6;
}
.navigation-search:not(:placeholder-shown){
  border: 2px solid #000000;
  box-sizing: border-box;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-color: #000000;
  opacity: 1;
  width: 356px;
}
.navigation-search:not(:placeholder-shown) + .button-search{
  display: block;
}
.button-search:focus{
  border-color: #AF4FFF;

}
.button-search:hover{
  background-color: #000000;
  color: #FFFFFF;
}
.button-search:active{
  color: rgba(255, 255, 255, 0.3);
  border: none;
}
.login{
  width: 117px;
}
.small .navigation-item:nth-child(3){
  margin-left: 149px;
}
.compare{
  width: 136px;
}
.small .navigation-item:nth-child(4){
  margin-left: 14px;
  position: relative;
}
.cart{
  width: 131px;
  text-align: center;
  align-items: center;
}
.cart:focus .number-cart{
  margin-top: 10px;
  left: 1px;
}
.number-cart{
  display: block;
  width: 21px;
  height: 21px;
  background-color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  z-index: 1;
}
.cart-number{
  font-size: 14px;
  line-height: 17px;
}
.login .navigation-icon{
  margin-right: 12px;
  left: 4px;
}
.compare .navigation-icon{
  right: 6px;
}
.cart .navigation-icon{
  right: 6px;
}
.pop-cart{
  display: none;
  position: absolute;
  width: 320px;
  background-color: #000000;
  top: 35px;
  right: -57px;
  z-index: 3;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.pop-cart::before{
  display:block;
  position: absolute;
  content: "";
  width: 14px;
  height: 6px;
  background-image: url(../img/icons/triangle.svg);
  top: -6px;
  left: 150px;
}
.cart-list{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.cart-list-item{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
.cart-list-item a{
  display: flex;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  width: 244px;
  padding: 20px;
}
.cart-list-link:focus{
  outline: none;
  color: #AF4FFF;
}
.cart-list-link:focus .cart-prod{
  border: 5px solid #AF4FFF;
  margin: -5px;
  margin-right: 18px;
}
.cart-list-link:hover{
  opacity: 0.6;
}
.cart-list-link:active{
  border: none;
  opacity: 0.3;
}
.cart-prod{
  margin-right: 23px;
}
.cart-del{
  width: 25px;
  height: 25px;
  background-color: transparent;
  position: relative;
  margin-left: 25px;
  top: -9px;
  left: -15px;
}
.cart-del:focus{
  outline: none;
  border: 2px solid #AF4FFF;
  border-radius: 50%;
}
.cart-delete{
  fill: #FFFFFF;
  position: absolute;
  top: 7px;
  left: 7px;
}
.cart-del:focus .cart-delete{
  top: 5px;
  left: 5px;
}
.cart-del:hover .cart-delete{
  fill: rgba(255, 255, 255, 0.6);
}
.cart-del:active .cart-delete{
  border: none;
  fill: rgba(255, 255, 255, 0.3);
}
.cart-total{
  display: flex;
  background-color: #1A1A1A;
  justify-content: space-between;
  padding: 0 20px;
}
.cart-total-text{
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cart-open{
  padding: 31px 21px;
}
.open-cart{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #FFFFFF;
  padding: 15px 22px;
  width: 280px;
  cursor: pointer;
}
.open-cart:focus{
  outline: none;
  border: 5px solid #AF4FFF;
  margin: -5px;
}
.large .navigation-item{
  z-index: 2;
}
.large .navigation-link{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.large .navigation-link:hover{
  border-bottom: 2px solid #000000;
  padding-bottom: 8px;
}
.large .navigation-link:focus{
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 14px 20px 15px;
  outline: none;
  margin-left: -22px;
  margin-right: -22px;
}
.large .navigation-link:active:not(.small-catalog){
  border: none;
  border-bottom: 2px solid #000000;
  border-radius: 0;
  padding: 0;
  padding-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
  opacity: 0.3;
}
.large .navigation-item:nth-child(1){
 flex-grow: 1;
 position: relative;
}
.large .navigation-item:nth-child(2){
  width: 140px;
}
.large .navigation-item:nth-child(3){
  width: 140px;
  margin-left: 19px;
}
.large .navigation-item:nth-child(4){
  width: 140px;
  text-align: right;
  margin-left: 65px;
  margin-right: -4px;
}
.small-catalog{
  position: relative;
  z-index: 2;
}
.catalog-button{
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -14px;
  right: -66px;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
  background-image: url(../img/icons/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}
.small-catalog:focus .catalog-button{
  top: 0;
  right: -53px;
}
.large .navigation-link.small-catalog:hover:not(:focus){
  border-bottom: none;
}
.small-catalog:hover .catalog-button{
  background-image: url(../img/icons/minus.svg);
  opacity: 1;
  border-color: #000000;
  fill: #000000;
}
.large .small-catalog:active{
  opacity: 0.3;
  border: none;
}
.pop-catalog{
  display: none;
  position: absolute;
  top:0px;
  left: -60px;
  padding: 72px 420px 28px 60px;
  background-color: #FFE17F;
  z-index: 1;
}
.subcatalog{
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 20px);
  grid-row-gap: 17px;
  grid-column-gap: 40px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  list-style-type: none;
  margin-bottom: 27px;
}
.small-catalog:hover ~ .pop-catalog,
.pop-catalog:hover{
  display: block;
}
.pop-active{
  display: block;
}
.small-catalog:focus-within ~ .pop-catalog{
  display: block;
}
.subcatalog-item:nth-child(1),
.subcatalog-item:nth-child(2),
.subcatalog-item:nth-child(3){
  grid-column: 1;
}
.subcatalog-item:nth-child(4){
  grid-column: 2;
  grid-row: 1;
}
.subcatalog-item:nth-child(5){
  grid-column: 2;
  grid-row: 2;
}
.subcatalog-item:nth-child(6){
  grid-column: 3;
  grid-row: 1;
  margin-left: -40px;
}
.subcatalog-link{
  cursor: pointer;
}
.subcatalog-link:focus{
  outline: none;
  padding: 3px 15px 5px;
  border: 2px solid #AF4FFF;
  border-radius: 25px;
  margin: -3px -15px -5px;
}
.subcatalog-link:hover{
  opacity: 0.6;
}
.subcatalog-link:active{
  border: none;
  opacity: 0.3;
}
.slider{
  margin-bottom: 70px;
}
.slider-pagination{
  margin:0;
  padding: 0;
}
.slider-pagination-item{
  display: none;
  grid-template-columns: 560px 560px;
  grid-column-gap: 40px;
  position: relative;
}
.slider-item-current{
  display: grid;
}
.number-slide{
  font-weight: 800;
  font-size: 180px;
  color: #FFFFFF;
  display: block;
  margin-top: 83px;
  text-align: right;
  margin-right: 49px;
  margin-bottom: -33px;
}
.slider-button{
  width: 20px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("../img/icons/left-tall-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.slider-button:focus{
  display: block;
  outline: none;
  padding: 10px;
  border: 2px solid #AF4FFF;
  border-radius: 6px;
}
.slider-button:hover{
  opacity: 0.6;
}
.slider-button:active{
  opacity: 0.3;
  border: none;
}
.slider-control{
  position: absolute;
  width: 560px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.slider-next{
  transform: rotate(180deg);
  margin-right: 19px;
}
.slider-prev{
  margin-left: 19px;
}
.slider-slogan{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 29px;
}
.slider-text{
  margin-bottom: 50px;
}
.slider-link-button{
  display: flex;
  border: none;
}
.slider-link::before{
  display: block;
  content: "";
  height: 8px;
  width: 100%;
  top: 7px;
  position: absolute;
  background-color: #FFE17F;
  z-index: -1;
}
.slider-link:focus{
  outline: none;
}
.slider-link:focus::before{
background-color: #AF4FFF;
}
.slider-link:hover::before{
  top: -15px;
  height: 50px;
}
.slider-link:active{
  color: rgba(0, 0, 0, 0.3);
}
.slider-link:active::before{
  background-color: #FFE17F;
}
.slider-list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
}
.slider-list-item{
  margin-right: 22px;
}
.slider-pagination-button{
  display: block;
  width: 12px;
  height: 12px;
  border: none;
  cursor: pointer;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0;
  background-color: #FFFFFF;
}
.slider-pagination-button-current{
  background-color: #000000;
}
.slider-pagination-button:hover{
  opacity: 0.6;
}
.slider-pagination-button:focus{
  outline: none;
  border: 2px solid #AF4FFF;
}
.slider-pagination-button:active{
  opacity: 0.3;
  border: 2px solid #000000;
}
.slider-list-item:last-child{
  margin-right: 0;
}
.slider-specifications{
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 160px);
}
.slider-definition{
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 11px;
  grid-row: 1;
}
.slider-term{
  font-size: 16px;
  grid-row: 2;
}
.slider-link{
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
  width: 220px;
  height: 20px;
  margin-right: 200px;
  position: relative;
}
.products{
  margin-bottom: 81px;
}
.products-list{
  display:flex;
  justify-content: space-between;
  margin:0;
  padding: 0;
  text-align: center;
}
.products-item{
  width: 160px;
  list-style-type: none;
}
.products-link{
  position: relative;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  display: block;
  letter-spacing: -0.02em;
  padding-top: 193px;
  text-align: left;
}
.products-link::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}
.products-icon{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #363636;
}
.vr{
  top: 53px;
}
.monopod{
  top: 43px;
}
.cam{
  top: 38px;
  left: 10px;
}
.f-b{
  top: 50px;
}
.s-w{
  top: 31px;
  left: 2px;
}
.qc{
  top: 49px;
}
.products-link:hover::before{
  background-color: #FFC700;
}
.products-link:focus{
  outline: none;
  color: #AF4FFF;
}
.products-link:focus::before{
  border: 5px solid #AF4FFF;
  box-sizing: border-box;
}
.products-link:active{
  color: rgba(0, 0, 0, 0.3);
  fill-opacity: 0.3;
}
.products-link:active::before{
  border: none;
  background-color: #FFC700;
}
.button{
  display: inline-block;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
}
button{
  border: none;
  padding: 0px;
  cursor: pointer;
}
.services{
  margin-bottom: 89px;
  background-image: linear-gradient(to bottom, white 0%, white 100px, #F0F0F0 0%);
  position: relative;
}
.services-dictionary{
  display: grid;
  grid-template-columns: 280px 880px;
  grid-template-rows: repeat(3, 40px) min-content;
  grid-row-gap: 25px;
  margin: 0;
  padding: 0;
}
.services-term{
  position: relative;
  grid-column: 1;
  display: block;
  align-items: center;
  width: 160px;
  letter-spacing: 0.2em;
  margin-top: 89px;
  margin-left: 2px;
  z-index: 1;
}
  .services-term::before{
  display: block;
  content: "";
  height: 8px;
  width: 100%;
  top: 6px;
  left: -2px;
  position: absolute;
  background-color: #FFC700;
  z-index: -1;
  }
  .services-term:hover::before{
    height: 40px;
    top: -10px;
  }
  .services-term:focus::before{
    background-color: #AF4FFF;
  }
  .services-definition{
    grid-column: 2;
    grid-row: 1 / -1;
    border-left: 7px solid #000000;
    padding-left: 116px;
    margin-left: -3px;
    display: none;
    height: 249px;
  }
  .services-term-current{
    font-family: "Raleway", sans-serif;
    color: #FFE17F;
    line-height: 21px;
  }
  .services-term-current::before{
    position: absolute;
    display: block;
    background-color:#000000;
    height: 40px;
    width: 280px;
    content: "";
    top: -10px;
  }
  .services-definition-current{
    display: block;
    padding-top: 70px;
    margin-bottom: 70px;
  }
  .services-title{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 560px;
  margin: 0;
  margin-bottom: 34px;
  }
  .services-text{
  margin: 0;
  width: 500px;
  }
.delivery{
  background-image: url(../img/services/courier.svg);
  background-repeat: no-repeat;
  background-position-y: 85px;
  background-position-x: 674px;
}
.guarantee{
  background-image: url(../img/services/guarantee.svg);
  background-repeat: no-repeat;
  background-position-y: 59px;
  background-position-x: right;
}
.credit{
  background-image: url(../img/services/credit.svg);
  background-repeat: no-repeat;
  background-position-y: 59px;
  background-position-x: right;
}
.rare-commodity{
  display: flex;
  align-items: center;
  position: relative;
  background-color: #F0F0F0;
  margin-bottom: 97px;
  height: 100px;
}
.rare-commodity-text{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  width: 910px;
  padding-top: 37px;
  padding-bottom: 38px;
  margin-right: 52px;
}
.rare-delivery{
  background-color: #FFE17F;
  padding: 35px 39px 34px;
}
.info{
  fill: rgba(0, 0, 0, 0.3);
  background-color: rgba(220, 220, 220, 0.5);
  padding: 14px 19px;
  border-radius: 20px;
}
.rare-commodity:hover{
  background-color: #EBEBEB;
}
.rare-commodity:hover .rare-delivery{
  background-color: #FFC700;
}
.rare-commodity:hover .info{
  fill: #000000;
}
.rare-commodity:focus{
  outline: none;
  border: 5px solid #AF4FFF;
  margin: -5px;
  margin-bottom: 92px;
}
.rare-commodity:active{
  border: none;
  opacity: 0.3;
  background-color: #EBEBEB;
  margin: 0;
  margin-bottom: 97px;
}
.rare-commodity:active .rare-delivery{
  background-color: #FFC700;
}
h2{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.index-columns{
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}
.about{
  width: 560px;
}
.about-title{
  position: relative;
  margin: 0;
  margin-top: 49px;
  padding-bottom: 20px;
}
.about-title::before{
  position: absolute;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
  content: "";
  top: -49px;
}
.about-description{
  margin: 26px 0 75px;
  width: 500px;
}
.about-text{
  margin: 0 0 30px;
}
.about-item{
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
  left: -5px;
}
.about-list{
  margin-bottom: 68px;
  list-style-type: none;
}
.about-item::before{
  position: absolute;
  content: " ";
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  border-radius: 4px;
  top: 6px;
  left: -34px;
}
.about-link{
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  position: relative;
  left: 1px;
  width: 260px;
}
.about-link::before{
  display: block;
  content: "";
  height: 8px;
  width: 100%;
  top: 7px;
  position: absolute;
  background-color: #FFC700;
  z-index: -1;
}
.about-link:hover::before{
  height: 40px;
  top: -10px
}
.about-link:active{
  color: rgba(0, 0, 0, 0.3);
}
.contacts{
  width: 560px;
}
.contacts-title{
  position: relative;
  margin: 0;
  margin-top: 49px;
  padding-bottom: 20px;
}
.contacts-title::before{
  position: absolute;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
  content: "";
  top: -49px;
}
.contacts-text{
  margin: 26px 0 30px;
}
.contacts-subtitle{
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 15px;
}
.address-text{
  font-style: normal;
  margin: 0;
}
.contacts-address{
  margin-bottom: 30px;
}
.contacts-phone{
  text-decoration-line: underline;
}
.contacts-link{
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  position: relative;
  left: 2px;
  top: -4px;
  width: 259px;
}
.contacts-link::before{
  display: block;
  content: "";
  height: 8px;
  width: 100%;
  top: 7px;
  position: absolute;
  background-color: #FFC700;
  z-index: -1;
}
.contacts-link:hover::before{
  height: 40px;
  top: -10px
}
.contacts-link:active{
  color: rgba(0, 0, 0, 0.3);
}
.contacts-schedule{
  margin: 0 0 67px;
  padding: 0;
  list-style-type: none;
}
.mailing{
  background-color: #F0F0F0;
  padding-bottom: 130px;
}
.mailing-content{
  display: grid;
  grid-template-columns: 560px 560px;
  grid-column-gap: 40px;
}
.mailing-form{
  display: flex;
  grid-column: 1 / -1;
  align-items: center;
}
.mailing-title{
  margin-top: 75px;
  margin-bottom: 61px;
}
.mailing-subscribe{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0;
  width: 260px;
  height: 55px;
  margin-right: 135px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.mailing-subscribe:focus{
  outline: none;
  border: 3px solid #AF4FFF;
}
.mailing-subscribe:hover{
  color: #FFFFFF;
  background-color: #000000;
  border: none;
}
.mailing-subscribe:active{
 color: rgba(255, 255, 255, 0.3);
}
.mailing-text{
  margin-top: 85px;
  margin-bottom: 50px;
}
.mailing-mail{
  width: 600px;
  height: 55px;
  margin-top: auto;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0;
  position: relative;
}
.mailing-mail::placeholder{
  font-size: 18px;
  line-height: 30px;
  opacity: 0.5;
  position: absolute;
  bottom: 10px;
  left: 2px;
}
.mailing-mail:active::placeholder{
  opacity: 1;
}
 .mailing-mail:hover{
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
.mailing-mail:focus{
  background-color: #DCDCDC;
}
.mailing-mail:active{
  border-bottom: 3px solid rgba(0, 0, 0, 1);
}
.mailing-mail:active::placeholder{
  opacity: 1;
}
.mailing-mail:invalid{
  border-color: #FF3D3D;
}
.free{
  width: 165px;
  margin: 0;
  text-align: right;
  background-image: url(../img/icons/tick-big.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.page-footer{
  background-color: #444444;
  color:#FFFFFF;
}
.footer-container{
  width: 1160px;
  margin: 0 auto;
}
.logo-footer{
  display: block;
  margin: 62px 0 35px -2px;
}
.page-footer-container{
  display: flex;
  width: 1160px;
  margin: 0 auto;
}
.footer-address{
  width:240px;
  margin-right: 114px;
  position: relative;
}
.address-footer::after{
  position: absolute;
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  bottom: 31px;
}
.footer-address-text{
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.footer-navigation{
  width: 458px;
  justify-content: center;
}
.footer-navigation a{
  color: #FFFFFF;
}
.footer-contacts{
  width: 293px;
  margin-left: auto;
}
.footer-contacts a{
  color: #FFFFFF;
}
.footer-info-list{
  list-style-type: none;
  display: flex;
  margin: 0 0 57px -11px;
  padding: 0;
}
.footer-info-item{
  margin-right: 7px;
  width: 148px;
  text-align: center;
}
.footer-info-item:last-child{
  margin-right: 0px;
}
.footer-info-link{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding:14px 20px 15px;
}
.footer-info-link:focus{
  outline: none;
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
  margin: -2px;
}
.footer-info-link:hover{
  color: #FFC700;
  padding: 0;
  padding-bottom: 8px;
  border-bottom: 2px solid #FFC700;
  margin-left: 20px;
  margin-right: 20px;
}
.footer-info-link:active{
  opacity: 0.3;
  border: none;
  border-bottom: 2px solid rgba(255, 199, 0, 0.3);
  border-radius: 0;
}
.footer-social-list{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item{
  text-align: center;
  margin-right: 15px;
  margin-bottom: 15px;
}
.social-button{
  display: block;
  height: 40px;
  width: 40px;
  position: relative;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
.social-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #444444;
}
.social-button:hover{
  background-color: #FFC700;
}
.social-button:focus{
  outline: none;
  background-color: transparent;
  border: 5px solid #AF4FFF;
  box-sizing: border-box;
}
.social-button:focus .social-icon{
  fill: #FFFFFF;
}
.social-button:active{
  background-color: #FFC700;
  border: none;
}
.social-button:active .social-icon{
  fill: rgba(44, 44, 44, 0.3);
}
.footer-social-item:last-child{
  margin-right: 0px;
}
.footer-phone{
  font-size: 16px;
  margin-left: 121px;
}
.footer-phone:focus{
  outline: none;
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 3px 15px 5px;
  margin-right: -17px;
  margin-left: 106px;
}
.footer-phone:hover{
  color: #FFC700;
}
.footer-phone:active{
  opacity: 0.3;
  border: none;
}
.htmlacademy{
  display: block;
  margin-left: auto;
  width: 115px;
  height: 34px;
  margin-top: 61px;
}
.htmla{
  fill: #FFC700;
  top: 53px;
}
.htmlacademy:hover .htmla{
  fill: #FFFFFF;
}
.htmlacademy:focus{
  outline: none;
}
.htmlacademy:focus .htmla{
  border: 2px solid #AF4FFF;
  border-radius: 10px;
  padding: 10px;
  margin: -12px;
}
.htmlacademy:active .htmla{
  opacity: 0.3;
  border: none;
}
.header-inner .small .navigation-item:nth-child(2){
  display: flex;
  align-items: center;
}
.header-inner .small .navigation-item:nth-child(3){
  margin-left: 28px;
}
.header-inner .login{
  margin-left: 12px;
  width: 153px;
}
.out{
  width: 60px;
  margin-left: 13px;
  opacity: 0.3;
}
.main-inner{
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-top: 36px;
}
.inner-header{
  margin-left: 60px;
}
.catalog{
  display: flex;
  margin-top: 47px;
  min-width: 1160px;
}
.catalog-title{
  margin-top: 0;
  margin-bottom: 24px;
}
.catalog-filters{
  width: calc(50% - 252px);
}
.catalog-filter{
  width: 200px;
  margin-left: auto;
  margin-right: 69px;
}
.filter{
  width: 100%;
  background-color: #DCDCDC;
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 83px;
}
.breadcrumbs{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.breadcrumbs-item{
  position: relative;
  margin-right: 34px;
}
.breadcrumbs-item a{
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs-item::before{
  display: block;
  content: url(../img/icons/right-arrow.svg);
  position: absolute;
  background-repeat: no-repeat;
  right: -20px;
}
.breadcrumbs-link:hover{
  opacity: 1;
}
.breadcrumbs-link:active{
  opacity: 0.3;
}
.breadcrumbs .breadcrumbs-item:last-child::before{
  display: none;
}
.breadcrumbs-link:focus{
  outline: none;
  border: 5px solid #AF4FFF;
  padding: 5px 12px 6px 13px;
  margin-left: -18px;
  margin-right: -17px;
}
.breadcrumbs-link:hover{
  color: #000000;
}
.breadcrumbs-link:active{
  border: none;
  opacity: 0.3;
}
.filters-text{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 236px;
  margin-left: auto;
  margin-right: 32px;
}
.filters{
  background-color: #E5E5E5;
  height: 100%;
}
.catalog-products{
  width: calc(50% + 252px);
}
.catalog-filter-group{
  border: none;
  margin: 0;
  padding: 0;
}
.catalog-filter-group:nth-child(2) .catalog-filter-title{
  margin-bottom: 27px;
}
.catalog-filter-group:nth-child(3) .catalog-filter-title{
  margin-bottom: 29px;
}
.catalog-filter-title{
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  position: relative;
  margin-bottom: 37px;
}
.catalog-filter-title::before{
  display: block;
  content: "";
  width: 200px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: -14px;
  left: 0;
}
.range-scale{
  position: relative;
  width: 200px;
  background-color: #DCDCDC;
  height: 2px;
  margin-bottom: 15px;
}
.range-bar{
  position: absolute;
  height: 2px;
  background-color: #000000;
}
.range-toggle{
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #EBEBEB;
  border: 2px solid #000000;
  cursor: pointer;
  border-radius: 9px;
}
.range-toggle:focus{
  outline: none;
  border: 2px solid #AF4FFF;
}
.range-toggle:active{
  background-color: #000000;
  border: 2px solid #000000;
}
.toggle-min{
  top: -8px;
}
.toggle-max{
  top: -8px;
  right: -9px;
}
.range-inputs{
  display: flex;
}
.catalog-filter-label{
  display: flex;
  margin-right: 25px;
  margin-left: -5px;
  opacity: 0.3;
}
.catalog-range-input{
  width: 55px;
  background-color: transparent;
  font: inherit;
  font-size: 15px;
  line-height: 18px;
  border: none;
  appearance: textfield;
}
.catalog-range-input::-webkit-outer-spin-button,
.catalog-range-input::-webkit-inner-spin-button{
  appearance: none;
  margin: 0;
}
.catalog-filter-group:nth-child(1){
  margin-bottom: 47px;
}
.catalog-filter-group:nth-child(2){
  margin-bottom: 39px;
}
.catalog-filter-group:nth-child(3){
  margin-bottom: 32px;
}
.catalog-filter-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.control{
  display: block;
  position: relative;
  padding-left: 37px;
  margin-bottom: 21px;
}
.control-mark{
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  left: 0;
  box-sizing: border-box;
}
.control:focus{
  color: #AF4FFF;
  fill: #AF4FFF;
}
.control:focus .control-input[type="radio"]:checked + .control-mark::before{
  background-color: #AF4FFF;
}
.control:hover .control-input:checked + .control-mark,
.control:hover .control-input:checked + .control-mark + .control-label{
  opacity: 0.5;
}
.control:focus .control-mark{
  border: 2px solid #AF4FFF;
}
.control-input:checked + .control-mark{
  border-color: #000000;
}
.control:focus .control-input:checked + .control-mark{
  border-color: #AF4FFF;
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before{
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}
.control:active{
  opacity: 0.3;
}
.filter-tick{
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
}
.control-input[type="checkbox"]:checked +.control-mark .filter-tick{
  display: block;
}
.filter-button{
  font-size: 18px;
  letter-spacing: 0.2em;
  display: block;
  width: 200px;
  position: relative;
  background-color: transparent;
  z-index: 0;
  left: 2px;
}
.filter-button::before{
  display: block;
  content: "";
  height: 8px;
  width: 100%;
  top: 7px;
  position: absolute;
  background-color: #FFC700;
  z-index: -1;
}
.filter-button:hover::before{
  height: 40px;
  top: -10px
}
.filter-button:active{
  color: rgba(0, 0, 0, 0.3);
}
.sorting-type{
  background-color: #EBEBEB;
  display: flex;
  height: 70px;
  align-items: center;
  padding-right: calc((100vw - 1160px) / 2);
}
.sorting-text{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 72px;
  width: 200px;
}
.select-control{
  height: 20px;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
}
.select-control:focus{
  outline: none;
  height: 30px;
  border: 5px solid #AF4FFF;
}
.select-control:hover{
  opacity: 0.6;
}
.select-control:active{
  border: none;
  opacity: 0.3;
}

.sorting-arrow:focus{
  outline: none;
  border: 5px solid #AF4FFF;
}
.sort-arrow:hover{
  fill: rgba(0, 0, 0, 0.6);
}
.sorting-arrow-up{
  margin-left: auto;
  margin-right: 19px;
}
.sorting-arrow-down{
  margin-right: -8px;
}
.sorting-arrow-current{
  fill: rgba(0, 0, 0, 0.3);
}
.catalog-list{
  margin-left: 72px;
}
.product-list{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 360px 360px;
  grid-column-gap: 40px;
  grid-row-gap: 44px;
  list-style-type: none;
  margin-top: 70px;
  margin-bottom: 48px;
}
.product-card{
  min-width: 360px;
}
.product-card-link{
  position: relative;
}
.product-card-link:focus{
  outline: none;
}
.product-card-link:focus .product-card-title{
  color: #AF4FFF;
}
.product-card-link:focus .product-card-price{
  color: #AF4FFF;
}
.product-card-link:focus .product-card-image{
  border: 5px solid #AF4FFF;
  box-sizing: border-box;
}
.product-card-link:hover .product-card-image{
  opacity: 0.8;
}
.product-card-button{
  font-size: 18px;
  display: none;
  width: 180px;
  position: relative;
  letter-spacing: 0.2em;
  margin: 0 auto;
  margin-bottom: -21px;
  top: -257px;
  z-index: 1;
}
.product-card-link:hover + .product-card-button{
  display: block;
}
.product-card-button::before{
  display: block;
  content: "";
  height: 8px;
  width: 100%;
  top: 7px;
  position: absolute;
  background-color: rgba(255, 199, 0, 1);
  z-index: -1;
}
.product-card-button:hover::before{
  height: 40px;
  top: -10px
}
.product-card-button:active{
  color: rgba(0, 0, 0, 0.3);
}
.product-card-link:hover .product-card-button{
  display: block;
}

.product-card-title{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  width: 280px;
  letter-spacing: -0.02em;
}
.product-card-image{
  background-color: #EBEBEB;
  margin-bottom: 26px;
}
.product-card-info{
  display: flex;
}
.product-card-price{
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
  margin-left: auto;
  margin-top: 4px;
}
.show-more{
  display: block;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 760px;
  padding: 15px;
  align-items: center;
  margin-bottom: 51px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #FFFFFF;
  letter-spacing: 0.2em;
}
.show-more:focus{
  outline: none;
  border: 5px solid #AF4FFF;
  box-sizing: border-box;
}
.show-more:hover{
  border: 3px solid #000000;
}
.show-more:active{
  opacity: 0.3;
}
.pagination{
  background-color: #EBEBEB;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 760px;
  margin-bottom: 77px;
  height: 70px;
  align-items: center;
}
.pagination-item:last-child{
  margin-left: auto;
  margin-right: 32px;
}
.pagination-item:first-child{
  margin-right: 220px;
  margin-left: 34px;
}

.pagination-item{
  margin-right: 29px;
}
.pagination-link{
  text-align: center;
  color: #444444;
}
.pagination-link .pagination-text{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
}
.pagination-link:focus{
  outline: none;
  border: 5px solid #AF4FFF;
}
.pagination-prev, .pagination-next{
  padding: 20px 25px;
  margin: -25px -30px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-window{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;
  display: flex;
}
.modal-no-active{
  display: none;
}
.modal{
  position: relative;
  background-color: #FFFFFF;
  margin: auto;
  padding: 62px 70px 78px;
}
.modal-delivery{
  width: 920px;
  height: 580px;
  border: 10px solid #000000;
  box-sizing: border-box;
  position: relative;
}
.modal-title{
  margin: 0;
  margin-bottom: 68px;
}
.modal-close{
  display: block;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url(../img/icons/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 66px;
  right: 58px;
}
.modal-close:focus{
  outline: none;
  border: 5px solid #AF4FFF;
  border-radius: 50%;
}
.modal-close:hover{
  opacity: 0.6;
}
.modal-close:active{
  border: none;
  opacity: 0.3;
}
.modal-delivery-title{
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
  margin-bottom: 14px;
}
.modal-delivery-form{
  display: flex;
  justify-content: space-between;
  width: 760px;
  flex-wrap: wrap;
}
.modal-delivery-form-div{
  margin-bottom: 10px;
  position: relative;
}
.modal-delivery-form-label{
  display: block;
  position: relative;
}
.modal-delivery-input{
  padding: 20px;
  padding-right: 50px;
  background-color: #F0F0F0;
  border: none;
  font-size: 16px;
  line-height: 20px;
}
.modal-delivery-input:focus{
  outline: none;
  border: 5px solid #AF4FFF;
  margin: -5px;
}
.modal-delivery-input:hover{
  background-color: #EBEBEB;
}
.modal-delivery-input:not(:placeholder-shown){
  border: 3px solid #000000;
  margin: -3px;
  background-color: #FFFFFF;
  opacity: 1;
}
.modal-delivery-input:invalid{
  border: 3px solid #FF3D3D;
}
.modal-delivery-input-name{
  width: 290px;
  background-image: url(../img/icons/user.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 326px;
  fill: #B3B3B3;
}
.modal-delivery-input-mail{
  width: 290px;
  background-image: url(../img/icons/mail.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 326px;
}
.modal-delivery-input-composition{
  width: 520px;
  padding-right: 20px;
}
.modal-delivery-input-total{
  width: 34px;
  padding-left: 76px;
}
.modal-delivery-input-total:not(:placeholder-shown){
  border: none;
  background-color: #F0F0F0;
  margin: 0;
}
.modal-delivery-input-total:focus{
  border: 5px solid #AF4FFF;
  margin: -5px;
}
.modal-total{
  position: absolute;
  background-color: transparent;
  width: 32px;
  height: 32px;
  top: 50px;
}
.modal-total:focus{
  outline: none;
  border: 2px  solid #AF4FFF;
  border-radius: 50%;
  margin: -2px;
}
.modal-total-minus{
  left: 12px;
}
.modal-total-plus{
  right: 10px;
}
.modal-total-plus:focus{
  right: 14px;
}
.modal-total-icon{
  position: absolute;
  top: 6px;
  left: 6px;
  fill: rgba(0, 0, 0, 0.6);
}
.modal-total:hover .modal-total-icon{
  fill: #000000;
}
.modal-total:active{
  border: none;
}
.modal-total:active .modal-total-icon{
  fill: rgba(0, 0, 0, 0.3);
}
.modal-total-info{
  display: block;
  width: 26px;
  height: 26px;
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: relative;
  top: -10px;
  left: 120px;
  margin-top: -26px;
  cursor: pointer;
}
.total-info{
  fill: #000000;
  position: absolute;
  top: 7px;
  left: 12px;
}
.total-info-text{
  display: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  width: 164px;
  margin: 0;
  padding: 19px;
  position: absolute;
  background-color: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  top: 36px;
  left: -140px;
  z-index: 1;
}
.total-info-text::before{
  display: block;
  content: "";
  position: absolute;
  background-image: url(../img/icons/triangle.svg);
  width: 14px;
  height: 6px;
  top: -6px;
  right: 42px;
}
.modal-total-info:hover .total-info-text{
  display: block;
}
.label-inscription{
  font-size: 14px;
  line-height: 20px;
}
.label-inscription-name{
  color: #FF3D3D;
}
.modal-delivery-input:not(:placeholder-shown) .label-inscription-name{
  color: #000000;
}

.modal-delivery-button{
  font-size: 18px;
  letter-spacing: 0.2em;
  display: block;
  width: 200px;
  position: relative;
  background-color: transparent;
  z-index: 0;
  left: 2px;
  margin-top: 44px;
}
.modal-delivery-button::before{
  display: block;
  content: "";
  height: 8px;
  width: 100%;
  top: 7px;
  position: absolute;
  background-color: #FFC700;
  z-index: -1;
}
.modal-delivery-button:hover::before{
  height: 40px;
  top: -10px
}
.modal-delivery-button:active{
  color: rgba(0, 0, 0, 0.3);
}
